<mat-toolbar class="example-spacer">
  <button (click)="goToInicio()" class="button-menu" mat-button><img src= '/assets/image/logo.png'></button>
  <button (click)="goToInicio()" class="button-menu" mat-button>Início</button>
  <button  (click)="goToLive()"class="button-menu" mat-button>Leilões Ao Vivo</button>
  <button (click)="goToAgendsDet()" class="button-menu" mat-button>Agenda de Leilões</button>
  <span class="example"></span>
  <button (click)="goToLogin()" mat-raised-button color="primary">Acessar</button>
</mat-toolbar>
